:root {
    --font-color: #424242;
    --bg-color: #fff;
    --error-bg-color: #ffcccf;
    --error-line-color: #ff6d68;
}

[data-theme="dark"] {
    --font-color: whitesmoke;
    --bg-color: #272C3C;
    --error-bg-color: #7c0000;
    --error-line-color: #c0000a;
}

* {
    font-family: rubik, sans-serif;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--font-color);
}

@font-face {
    font-family: rubik;
    src: url(Rubik-Regular.ttf);
}

h1 {
    font-family: rubik, sans-serif;

}

.page {
    margin: 4%;
}

#darkThemeImg{
    width: 40px;
}

.peripheralDiv {
    width: 100%;
    position: relative;
}

.peripheralName {
    font-size: 3em;
    max-width: 80%;
    display: inline-block;
}

.dot {
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    right: 30px;
    position: absolute;
    background-color: limegreen;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background: red;
}

.errorMsg{
    border: 1.5px solid var(--error-line-color);
    padding: 10px;
    border-radius: 8px;
    background: var(--error-bg-color);
    max-width: 80%;
}